<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<!--jquery-->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<!--bootstrap-->
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
<!--angular-->
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.7/angular.min.js"></script>
<!--highcharts-->
<script src="http://code.highcharts.com/highcharts.js"></script>
<!--custom CSS-->
<link rel="stylesheet" type="text/css" href="main.css"/>
</head>
<body ng-app="myApp">
<div class="container">
  <div class="jumbotron">
    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-default">
          <!--set domain and port of scandalous backend-->
          <div class="input-group">
            <span class="input-group-addon">Domain</span>
            <input type="text" class="form-control" ng-controller="domainCtrl" ng-model="domain" ng-change="setDomain(domain)"/>
            <span class="input-group-addon">Port</span>
            <input type="text" class="form-control" ng-controller="portCtrl" ng-model="port" ng-change="setPort(port)"/>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-8">
        <div class="row">
          <div class="col-md-12">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">Interactive Graph</h3>
              </div>
              <div class="panel-body">
                <!--graph-->
                graph
              </div>
            </div>
          </div>
        </div>
        
        <div class="row">
          <div class="col-md-12">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">Current Channel Value</h3>
              </div>
              <div class="panel-body" ng-controller="valueCtrl">
                <!--value-->
                {{value}}
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="row">
          <div class="col-md-12">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">Available Nodes</h3>
              </div>
              <!--nodes-->
              <div class="panel-body" ng-controller="nodeCtrl">
                <ul class="nav nav-pills nav-stacked" id="nodes">
                  <li ng-repeat="node in nodes" ng-class="{active:isSelected(node.value)}">
                    <a href="" ng-click="setSelected(node.value)">{{node.value}}: {{node.name}}</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        
        <div class="row">
          <div class="col-md-12">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">Channels</h3>
              </div>
              <!--channels-->
              <div class="panel-body" ng-controller="channelCtrl">
                <ul class="nav nav-pills nav-stacked" id="channels">
                  <li ng-repeat="channel in channels" ng-class="{active:isSelected(channel.value)}">
                    <a href="" ng-click="setSelected(channel.value)">{{channel.value}}: {{channel.name}}</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<script src="app.js"></script>
<!--graph
<script>
$(function () { 
    $('#graph').highcharts({
      chart: {
        type: 'line'
      },
      title: {
        text: 'data'
      },
      xAxis: {
        title: {
          text: 'Time'
        }
      },
      yAxis: {
        title: {
          text: 'y axis'
        }
      },
      series: [{
        name: 'John',
        data: [5, 7, 3]
      }]
    });
});
</script>
-->
</body>
</html>
