
        <div class="panel panel-default">
          <div class="panel-body">
            <!-- all channel readings -->
            <p class="text-center" id="value-display" ng-repeat="column in chart.data.columns">
              <span ng-if="!$first">
                <strong>{{column[0]}} {{column[1]}} {{getUnit(column[0])}}</strong>
              </span>
            </p>
            <!-- timestamp for channel reading -->
            <p class="text-center" id="value-timestamp">
              {{parseTime(chart.data.columns[0][1])}}
            </p>
          </div><!-- /.panel-body -->
        </div><!-- /.panel panel-default -->
