<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div ng-controller="graphCtrl">
                <!-- limit of data points to plot on graph -->
                <label>Limit:
                    <input type="number" ng-model="limit" min="0">
                </label>
                <!-- C3 xy chart (graph) -->
                <div xychart ng-model="chart" id="chart"></div>
            </div>
        </div>
        <div class="row">
            <div ng-controller="graphCtrl" selections='[
                {node:50,device:"Current Integrator",channel:1,value:"Voltage"},
                {node:50,device:"Current Integrator",channel:5,value:"Samples"}
            ]'>
                <!-- limit of data points to plot on graph -->
                <label>Limit:
                    <input type="number" ng-model="limit" min="0">
                </label>

                <div xychart ng-model="chart" id="chart1"></div>
            </div>

        </div>

    </div><!-- /.panel-body -->

</div><!-- /.panel panel-default -->

        

