<!DOCTYPE html>
<html lang="en">

<head>
  <title>Scandalous</title>
  <meta charset="utf-8">
  <!-- ensure proper rendering and touch zooming on devices -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- jquery for bootstrap -->
  <script src="js/jquery-1.11.2.js"></script>

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="css/bootstrap/css/bootstrap.min.css">

  <!-- Optional theme -->
  <link rel="stylesheet" href="css/bootstrap/css/bootswatch.cyborg.bootstrap.min.css">

  <!-- Latest compiled and minified JavaScript -->
  <script src="css/bootstrap/js/bootstrap.min.js"></script>

  <!-- angular -->
  <script src="js/angular.min.js"></script>

  <!-- load c3.css -->
  <link href="js/c3-0.4.9/c3.css" rel="stylesheet" type="text/css"/>

  <!-- load d3.js before c3.js since c3 depends on d3 -->
  <script src="js/d3/d3.js"></script>
  <script src="js/c3-0.4.9/c3.js"></script>

  <!-- additional CSS -->
  <link rel="stylesheet" type="text/css" href="css/main.css"/>
  <link rel="stylesheet" type="text/css" href="css/navbar.css"/>
  <link rel="stylesheet" type="text/css" href="css/c3custom.css"/>
</head>

<body ng-app="myApp">
  
  <div ng-controller="mainCtrl">

  <!-- Navigation -->
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <a href="#"><img src="img/navbrand.png" alt="Scandalous"></a>
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-menubuilder"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
        </button>
      </div>

      <div class="collapse navbar-collapse navbar-menubuilder">
        <!-- Nav tabs -->
        <ul class="nav navbar-nav navbar-left">
            <li><a href="#">MPPT</a>
            </li>
            <li><a href="#">Rolldown</a>
            </li>
        </ul>

        <!-- Domain/port settings -->
        <form class="navbar-form navbar-right" role="search">
          <div class="form-group">
            <input type="text" class="form-control" ng-controller="domainCtrl" ng-model="domain" ng-change="setDomain(domain)" name="domain" placeholder="Domain">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" ng-controller="portCtrl" ng-model="port" ng-change="setPort(port)" name="port" placeholder="Port">
          </div>
          <button type="button" class="btn btn-warning" ng-click="getNodes()">
            <span class="glyphicon glyphicon-refresh"></span>
          </button>
        </form>
      </div>
    </div>
  </nav>



 
  <!-- Content -->
  <div class="container">
    
    <!-- Node and Channel lists  -->
    <div class="row">
      <div class="col-md-3">
        
        <div class="panel panel-default">
          <div class="panel-body">
            <label>Limit:</label><input type="number" class="form-control" ng-model="limit">
          </div>
        </div>
          
        <div class="panel panel-default">
          <div class="panel-heading">
            <div class="panel-title">Nodes</div>
          </div>
          <div class="panel-body">
            <ul class="nav nav-pills nav-stacked">
              <li ng-repeat="node in nodes" ng-class="{active:node.isActive}">
                <a href="" ng-click="nodes.toggle(node)">
                  {{node.node}}: {{node.device}}
                </a>
              </li>
            </ul>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading">
            <div class="panel-title">Channels</div>
          </div>
          <div class="panel-body">
            <ul class="nav nav-pills nav-stacked">
              <li ng-repeat="channel in channels" ng-class="{active:channel.isActive}">
                <a href="" ng-click="channels.toggle(channel)">
                  {{channel.channel}}: {{channel.value}}
                </a>
              </li>
            </ul>
          </div>
        </div>

      </div><!-- node/channel column -->
    
      <!-- chart + live channel value -->
      <div class="col-md-9">
        
        <!-- chart -->
        <div class="panel panel-default">
          <div class="panel-body">
            <div xychart ng-model="chart" id="chart"></div>
          </div><!-- /.panel-body -->
        </div><!-- /.panel panel-default -->

        <!-- live channel value -->
        <div class="panel panel-default">
          <div class="panel-body">
            <!-- all channel readings -->
            <p class="text-center" id="value-display" ng-repeat="column in chart.data.columns">
              <span ng-if="$index > 0">
                <strong>{{column[0]}} {{column[1]}} {{getUnit(column[0])}}</strong>
              </span>
            </p>
            <!-- timestamp for channel reading -->
            <p class="text-center" id="value-timestamp">
              {{parseTime(chart.data.columns[0][1])}}
            </p>
          </div><!-- /.panel-body -->
        </div><!-- /.panel panel-default -->
      
      </div><!-- graph column -->
    
    </div><!-- row -->

            
  </div><!-- /.container -->
  </div><!-- ng-controller -->

  <!-- javascript application and controllers -->
  <script src="js/app.js"></script>
  <script src="js/directives.js"></script>

</body>
</html>
